.form-tooltip {
	width: 80vw;
	margin: 0 0 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 25vh;
	justify-content: space-between;

	& input {
		background-color: white;
	}
}

@media screen and (max-width: 768px) {
	.login-form {
		width: 90vw;
	}
}
