.shopping-cart {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.shopping-cart {
		width: 100vw;
		overflow: hidden;
		display: inline;
	}
}

@media screen and (max-width: 1700px) {
	.shopping-cart {
		flex-direction: column;
	}
}
