.layout {
	display: flex;
	flex-direction: row;
}

.outlet {
	width: calc(100% - 240px);
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

.notification {
	width: fit-content;
	border-radius: 0.2rem;
	background-color: rgb(125, 234, 125);
	position: sticky;
	top: 90%;
	left: 50%;
	height: fit-content;
}

@media screen and (max-width: 768px) {
	.outlet {
		width: 100%;
	}
}
