.card {
	background-color: white;
	border-radius: 0.4rem;
	padding: 2rem;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
	margin: 2rem 0;

	& b {
		color: #103178;
		font-weight: normal;
		font-size: 1.2em;
	}

	& hr {
		width: 100%;
	}
}

.clicked {
	pointer-events: none;

	&:hover {
		cursor: none;
		background-color: none;
	}
}
